@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

#content {
    font-family: 'Lora', serif;
    margin-left: 35%;
    /* border: 2px solid orange; */
    margin-top: 86px;
    /* z-index: 100; */
}

#content .menu-close {
    display: none;
    background-color: #ccc;
}

#content .menu-close ion-icon {
    font-size: 30px;
}

#content .mobile-title {
    display: none;
}

#content .header {
    height: 86px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 35%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

#content .header li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
}

#content .header li:not(:last-child)::after {
    content: '';
    height: 10px;
    width: 10px;
    background-color: #e5d1ad;
    border-radius: 50%;
}

#content .header a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px;
    transition: all 0.3s ease;
}

#content .header a:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

#content .body {
    padding: 65px 65px;
    column-gap: 0px;
}

#content .body-home {
    columns: 2;
}

#content .box {
    width: 100%;
    margin: 0 0 40px;
    padding:0 15px;
    background-color: #fff;
    overflow: hidden;
    break-inside: avoid;
}

#content .box .img {
    margin-bottom: 25px;
    width: 100%;
}

#content .box img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    border: 1px solid #999;
}
#content .title {
    text-decoration: none;
    padding: 0 15px;
    margin-bottom: 18px;
    text-align: center;
}

#content .title a {
    text-decoration: none;
    color: #000;
    font-size: 26px;
    line-height: 1.3;
}

#content .title a:hover {
    opacity: 0.5;
}

#content .info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 18px;
    font-size: 15px;
    color: #AAAAAA;
    font-family: 'Courier New', Courier, monospace;
}

#content .des {
    padding: 0 15px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
}

#content .icon {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#content .read-more {
    display: none;
    transition: 5s ease;
}

#content .read-more.show {
    display: block;
}

#content .read-more-btn {
    padding: 0 15px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    color: #bfa370;
    /* margin-bottom: 14px; */
    width: 100%;
    text-align: center;
}

#content .read-more-btn:hover {
    color: #635030;
}

#content .ps {
    text-align: right;
    font-size: 15px;
    padding: 0 15px;
    font-style: italic;
    word-spacing: 3px;
    line-height: 1.6;
    color: #bfa370;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-center {
    text-align: center !important;
}
