#page {
    margin: 0 54px;
    position: relative;
}

.title {
    margin-bottom: 50px;
    font-size: 38px;
    color: #333;
    margin-bottom: 500px;
}

.img-slider {
    position: relative;
    border: 5px solid red;
}

.carousel {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.btn {
    cursor: pointer;
}

.btn-Next {
    position: absolute;
    top: 50%;
    right: 0;
}

.btn-Prev {
    position: absolute;
    top: 50%;
    left: 0;
}

@media (max-width: 414px) {
    #page {
        margin: 0;
    }

    .img-slider {
        height: 300px;
    }
}