@media (max-width: 740px) {
    #sidebar {
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: 49;
    }

    #sidebar .menu-btn {
        display: flex;
        align-items: center;
        z-index: 0 !important;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    
    #content {
        position: relative;
        margin: 0 36px;
        padding: 0;
    }

    #content .mobile-title {
        display: block;
    }

    #content .mobile-title h1 {
        color: #fff;
        margin-bottom: 60px;
        font-family: f1;
        font-size: 100px;
    }

    #content .menu-close {
        display: flex;
        align-items: center;
        position: absolute;
        width: 30px;
        height: 60px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    #content .header {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0px;
        left: 0;
        right: 0px;
        height: 100%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
        transition: .5s ease-in-out;
        transform: translateX(-100%);
        z-index: 50;
        border: none;
    }

    #content .header.show {
        transform: translateX(0);
    }

    #content .header li {
        position: relative;
        margin-top: 6px;
    }

    #content .header a {
        font-size: 16px;
        padding: 15px 10px;
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
    }

    #content .header li:not(:last-child)::after {
        position: absolute;
        width: 6px;
        height: 6px;
        bottom: 0;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
    }

    #content .body {
        padding: 56px 36px;
        margin: 0 -36px;
    }

    #content .body-home {
        columns: 1;
    }

    #content .box {
        padding: 0;
    }
    
    #sidebar,
    #sidebar video,
    #content .box img {
        border-radius: 0;
        box-shadow: none;
    }

    #sidebar .des {
        bottom: 100px;
    }
}