* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* border: 5px solid blue; */
    position: relative;
    z-index: 0;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

#sidebar {
    /* background-color: #eff; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    /* border: 5px solid yellow; */
    /* padding: 0 120px ; */
    background: url('../img/img14.jpg') top center / cover no-repeat;
    transition: all .2s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    z-index: -1;
}

#sidebar .menu-btn {
    position: fixed;
    top: 50%;
    left: 0;
    background-color: transparent;
    z-index: 1;
    width: 30px;
    height: 60px;
    cursor: pointer;
    background-color: #ccc;
    transform: translateY(-50%);
    display: none;
}

#sidebar .menu-btn ion-icon {
    font-size: 30px;
    color: #fff;
    line-height: 50px;
}

#sidebar video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    transition: none;
}

#sidebar:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 48, 47, 0.4);
    transition: none;
}

#sidebar .des {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: right;
    padding: 0 100px;
    line-height: 1.6;
    font-size: 10px;
    text-shadow: 0 0 4px #ccc;
    display: none;
}

.des-bot {
    left: 0;
    bottom:80px;
    font-family: 'Courier New', Courier, monospace;
}

#sidebar .media {
    z-index: 1;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar .media a {
    color: #fff;
    padding: 4px;
    font-size: 20px;
    transition: 0.5s ease;
}

#sidebar .media a:not(:last-child) {
    margin-bottom: 15px;
}

#sidebar .media a:hover {
    transform: scale(2.0);
}

#sidebar .slider-nav {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
}

#sidebar .slider-btn {
    height: 15px;
    width: 15px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #ccc;
    transition: all 0.4s ease;
}

#sidebar .slider-btn:not(:first-child) {
    margin-left: 30px;
}

#sidebar .slider-btn:hover {
    transform: scale(2);
}

#sidebar .video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at -200px 50%);

}

#sidebar .video-slide.active {
    clip-path: circle(200% at 0 50%);
    transition: 2s ease-in-out;
    transition-property: clip-path;
}


@font-face {
    font-family: f1;
    src: url('../fonts/SVN-Qalisha\ Signature\ Script.otf');
}

@font-face {
    font-family: f2;
    src: url('../fonts/SVN-Qalisha\ Signature\ Serif.otf');
}
